body{
    background-image: linear-gradient(to bottom, salmon, yellow);
    height:623px;
}

.title{
    display: flex;
    justify-content: center;
    font-size: 30px;
    border-color: black;
    border-style: double;
    height: 60px;
    align-items: center;
    width: 100%;
}

.buttons{
display:flex;
height:200px;
gap: 20px;
justify-content: space-around;
margin: 50px;

}

#rock, #paper, #scissors{
    background-color: grey;
    width: 250px;
    border-radius: 50px;
    height: 150px;
    border-color: orange;
    color:orange;
    font-size: 20px;
    font-weight: 800;
    
}

.ScoreDisplay{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;

}
.scoreBox{
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

#result{
    margin-top:50px;
    margin-bottom: 10px;
    
}

.text{
    display: flex;
    justify-content: center;
    border-style: double;
    border-color: green;
}

#score, #score1, #score2{
    border-style: double;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height:30px;
    width:80px;
    margin:-10px;

}